%p
  %b User:
  = @image.user.nick
%p
  %b Title:
  = @image.title
%p
  = image_tag @image.image.url
%p
  - unless @image.published?
    =link_to 'Accept', accept_moderator_image_path(@image), method: :patch
    =link_to 'Delete', moderator_image_path(@image), method: :delete
    =link_to 'ALL', moderator_images_path
