%table
  %tr
    %td="Email"
    %td="Action"
  -@users.each do |user|
    %tr
      %td=user.email
      -if user.banned?
        %td=button_to 'Unban', unban_admin_user_path(user), method: :patch
      -else
        %td=button_to 'Ban', ban_admin_user_path(user), method: :patch


