.col-md-12
  %table.table
    %tr
      %th Email
      %th Options
    - @users.each do |user|
      %tr
        %td=user.email
        -if user.banned?
          %td=link_to 'Unban', unban_admin_user_path(user), method: :patch, class: 'btn btn-success btn-xs'
        -else
          %td=link_to 'Ban', ban_admin_user_path(user), method: :patch, class: 'btn btn-danger btn-xs'


